<div class="center"><h1>Edit Articles</h1></div>

<%= render 'form' %> 

<div class="article">
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>
</div> 